{# 第一个字母大写，其他不变 #}
{%- macro capitalizeFirst(value = '') -%}
    {{- value.slice(0, 1) | upper }}{{ value.slice(1) -}}
{%- endmacro -%}

{# 得到真正的方法名，去掉 Using[method]_数字 的后缀 #}
{%- macro functionName(name = '', method = '') -%}
    {%- if name.includes('::') -%}
        {{- name.split('::').pop() -}}
    {%- else -%}
        {{- name | replace(r/Using(POST|GET|PUT|DELETE|HEAD)_?\d*|_\d*/gi, '') -}}
    {%- endif -%}
{%- endmacro -%}

{# 通过 api 获取方法名，防止重名就加上请求 method #}
{%- macro getFunctionName(api) -%}
    {% set name = functionName(name = api.functionName, method = api.method) %}
    {%- if api.method.toLowerCase() != name.toLowerCase().substr(0, api.method.length) -%}
        {{- api.method -}}
        {{- capitalizeFirst(name) -}}
    {%- else -%}
        {{- name -}}
    {%- endif -%}
{% endmacro %}

{% for subList in list -%}
{% for api in subList.list | sort(fase, true, "functionName") -%}
{% set capName = capitalizeFirst(getFunctionName(api)) %}

{%- if api.params %}
export interface Params{{ api.ns }}{{ capName }} {
    {# query 入参 -#}
    {% if api.params.query -%}
    // query
    {% for param in api.params.query -%}
    {% if param.description -%}
    /** {{ param.description }} */
    {% endif -%}
      {{ param.name }}
      {{- "?" if not param.required }}
      {{- (": " + param.type + ";") | safe }}
    {% endfor -%}
    {% endif -%}

    {# header 入参 -#}
    {% if api.params.header -%}
    // header
    {% for param in api.params.header -%}
    {% if param.description -%}
    /** {{ param.description }} */
    {% endif -%}
      '{{ param.name }}'
      {{- "?" if not param.required }}
      {{- (": " + param.type + ";") | safe }}
    {% endfor -%}
    {% endif -%}

    {# path 入参 -#}
    {% if api.params.path -%}
    // path
    {% for param in api.params.path -%}
    {% if param.description -%}
    /** {{ param.description }} */
    {% endif -%}
      {{ param.name }}
      {{- "?" if not param.required }}
      {{- (": " + param.type + ";") | safe }}
    {% endfor -%}
    {% endif -%}
}
{%- endif -%}

{%- if api.body %}
    {% if api.body.type %}
        {% if api.body.propertiesList %}
export interface Body{{ api.ns }}{{ capName }} extends {{ capitalizeFirst(api.body.type) }} {
{%- for prop in api.body.propertiesList %}
	{% if prop.schema.description -%}
	/** {{ prop.schema.description }} */
	{% endif -%}
	{{ prop.key }}{{ "?" if not prop.schema.requird }}: {{ prop.schema.type }},
{%- endfor %}
}
        {% endif %}
    {% else %}
        {% if api.body.propertiesList %}
export interface Body{{ api.ns }}{{ capName }} {
{%- for prop in api.body.propertiesList %}
	{% if prop.schema.description -%}
	/** {{ prop.schema.description }} */
	{% endif -%}
	{{ prop.key }}{{ "?" if not prop.schema.requird }}: {{ prop.schema.type }},
{%- endfor %}
}
        {% endif %}
    {% endif %}
{%- endif %}

{% endfor -%}
{% endfor -%}
